<h1>ログイン</h1>

<%= form_with(model: @form, url: sessions_path) do |f| %>
  <div>
    <%= f.label :uid %>
    <%= f.text_field :uid %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>

  <%= f.submit 'ログインする' %>
<% end %>
